// Font sizes
$font--normal: 18px;

// Space sizes
$space: $font--normal;

// Screen sizes
$desktop--large: 1600px;
$desktop--medium: 1366px;
$desktop--small: 1280px;
$tablet--large: 1024px;
$tablet--small: 768px;
$mobile--large: 460px;
$mobile--medium: 400px;
$mobile--small: 360px;
$mobile--xsmall: 320px;
